*{
    margin: 0px;
    padding: 0px;
    border: border-box;
}

:root {
    --color-blue: #0b1a50;
    --border-radius: 5px;
    --color-white: #ffffff;

}

/* começo do menu */

.menu{
	float: right;
	margin-right: 70px;
	display: flex;
	text-align: right;
	z-index: 5;
}

.cabeçalho{
	position: fixed;
}

.logotipo{
	background-color: #0B1A50;
	position: absolute;
	width: 100vw;
	margin: 0%;	
	height: 12vh;
}


.logo-img{
width:140px;
height: 87px;
position: absolute;
margin-left: 20px; 
}


.menu-link{
	text-decoration: none;
	color: white;
}

.menu-opções{
	 list-style: none;
	 text-align: right;
	 font-size: 20px;
	 font-weight: bold;
	 padding: 2em 3em;
	 z-index: 5;
}

.menu-opções:hover {
	 list-style: none;
	 text-align: right;
	 font-size: 21px;
	 color: white;
	 font-weight: bold;
	 padding: 1.5em;
	 z-index: 5;


  text-decoration: none;
  border-bottom: 3px solid skyblue;
  

}


/*//BOTÃO*/

.lingua{
	padding: 9em;
	text-align: right;
}


.selctor-linguas{
	padding: 0.5em 1.5em;
}





/* fim do menu */


/* codigo css mapa e footer começo */
.localizacao {
    width: 100%;
    min-height: 100vh;  
}

.map-responsive{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* margin: auto; */      
}

.map-responsive iframe{

    height:550px;
    width:90%;
    margin:40px;
  
    
}

.localizacao h2{
    font-size: 8vmin;
    padding-top:10px;
    text-align: center;
    color: var(--color-blue);
}

footer {
    background-color: var(--color-blue);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height:150px;
    /* max-width: 140px; */
    display:inline-block;
    line-height:0
  }

  .contact p,
  .follow a {
    margin: 0;
    padding: 5px 0;
  }
  
  .follow a {
    margin-right: 10px;
  }
  
  .ebook a {
    display: block;
    text-align: center;
  }
  
  .contact h3, p{
    color: var(--color-white);
  }

  .ebook h3{
    color: var(--color-white);
    padding: 10px;
  }

  .follow h3 {
    color: var(--color-white);
  }

  .follow h3{
    padding: 10px;
  }



  /* codigo css mapa e footer fim */
  
