* {
  margin: 0px;
  padding: 0px;
  border: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --color-blue: #0b1a50;
  --border-radius: 5px;
  --color-white: #ffffff;
}
html {
  scroll-behavior: smooth;
}

.active-scroll {
  opacity: 0.9;
  background-color: black;
}
/* começo do menu */

.cabecalho {
  position: fixed;
  z-index: 10;
}

.logotipo {
  background-color: #0b1a50;
  position: absolute;
  width: 100vw;
  margin: 0%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle {
  display: none;
}

.logo-img {
  width: 140px;
  height: 87px;
  margin-left: 20px;
}

.menu {
  margin-right: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.menu-opções {
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  padding: 1em 1em;
  transition: 0.1s ease-in-out;
}

.menu-link {
  text-decoration: none;
  color: white;
}

.menu-opções:hover {
  list-style: none;
  text-align: right;
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding: 1em;
  z-index: 5;
  text-decoration: none;
  border-bottom: 3px solid skyblue;
  transition: 0.1s ease-in-out;
}

/*//BOTÃO*/

.lingua {
  padding: 9em;
  text-align: right;
}

.selctor-linguas {
  padding: 0.5em 1.5em;
}

/* Estilos para telas menores */

@media screen and (max-width: 768px) {
  .logo-img {
    margin-left: 0;
  }

  .menu {
    transform: translateY(-67%);
    flex-direction: column;
    align-items: flex-end;
    margin-right: 0;
    margin-top: 20px;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    top: 12vh;
    right: 0;
    padding: 10px;
    background-color: #0b1a50;
    color: white;
    border: none;
  }

  .menu-toggle:focus {
    outline: none;
  }

  .menu-icon {
    display: block;
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
  }

  .menu-toggle[aria-expanded="true"] .menu-icon {
    transform: rotate(45deg);
  }

  .menu-toggle[aria-expanded="true"] ~ .menu {
    display: block;
  }

  .lingua {
    text-align: center;
  }
}

/* fim do menu */

/* codigo css mapa e footer começo */
.localizacao {
  width: 100%;
  min-height: 100vh;
}

.map-responsive {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* margin: auto; */
}

.map-responsive iframe {
  height: 550px;
  width: 90%;
  margin: 40px;
}

.localizacao h2 {
  font-size: 8vmin;
  padding-top: 10px;
  text-align: center;
  color: var(--color-blue);
}

footer {
  background-color: var(--color-blue);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 150px;
  /* max-width: 140px; */
  display: inline-block;
  line-height: 0;
}

.contact p,
.follow a {
  margin: 0;
  padding: 5px 0;
}

.follow a {
  margin-right: 10px;
}

.ebook a {
  display: block;
  text-align: center;
}

.contact h3,
p {
  color: var(--color-white);
}

.ebook h3 {
  color: var(--color-white);
  padding: 10px;
}

.follow h3 {
  color: var(--color-white);
}

.follow h3 {
  padding: 10px;
}

.menu-active {
  transform: translateY(84%);
  transition: 0.3s ease-in-out;
}
.icon-active {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .menu-opções {
    font-size: 15px;
  }

  .logo-img {
    width: 115px;
    height: 80px;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  .menu {
    background-color: #0b1a50;
    position: relative;
    right: 0;
    transition: 0.3s ease-in-out;
  }
}

/* codigo css mapa e footer fim */
